<div class="">
  <div class="card mb-3" align="center">
    <%= image_tag(@highlight_post.image, :alt => "rss feed") %>
    <div class="card-body">
      <h5 class="card-title"><%= @highlight_post.title %></h5>
      <p class="card-text"><%= @highlight_post.body%></p>
      <%= link_to "Read More", post_path(@highlight_post), :class => 'btn btn-primary btn-sm' %>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
